        <table class="table">

          <thead class="col-con">
    
               <tr>
    
                 <th scope="col">Nombre</th>
    
                 <th scope="col">Cantidad</th>

                 <th scope="col">Precio</th>
    
                 </tr>
    
            </thead>
    
            <tbody *ngFor="let item of ProductList">
    
              <tr>
    
                <th scope="row">{{item.Nombre}}</th>
    
                <td>{{item.Cantidad}}</td>

                <td>{{item.Precio}}</td>
    
              </tr>
    
            </tbody>
    </table>

    <div class="col">

      <form [formGroup]="productForm">
    
        <div class="input-group" >
    
          <div class="input-group-pretend">
    
            <span class="input-group-text">Nuevo Producto</span>
    
          </div>
    
            <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre">
            
            <input formControlName="Cantidad" type="text" class="form-control" placeholder="Cantidad">
            
            <input formControlName="Precio" type="text" class="form-control" placeholder="Precio">
    
        </div>
          <br>
        <button (click)="Agregar()" class="btn btn-dark mb-2">
    
          agregar
    
        </button>
    
      </form>
    
    </div>