<section class="preguntas">
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../../assets/img/Pregunta.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Preguntas Frecuentes</h3>
          <br><br><br>
          <h4>1.-¿Cómo puedo comprar en La Ciruelita?</h4>
          <p class="card-text">Ir al establecimiento para conocer la variedad de productos y los precios accesibles que manejamos </p>
          <h4>2.-¿Es seguro comprar en La Ciruelita?</h4>
          <p class="card-text">Si, ya que manejamos con la mejor calidad de productos, en buen estado y gran variedad que solo encontraras en la Ciruelita</p>
          <h4>3.-¿En qué moneda están sus precios?</h4>
          <p class="card-text">Nos encontramos en la ciudad de México por lo tanto nuestros precios se manejan en pesos mexicanos</p>
          <h4>4.-¿Los precios son por caja, paquete o pieza?</h4>
          <p class="card-text">Los precios de los productos los manejamos por paquetes </p>
          <h4>5.-¿Cómo puedo hacer una devolución?</h4>
          <p class="card-text">Ir al establecimiento y mostrandonos que el producto esta caducado, ya que vendemos no podemos hacer devolución si el producto se encuentra abierto o fuera de su empaque original </p>
        </div>
      </div>
    </div>
  </div>
</section>
